@import "@fontsource/noto-sans-sc/400.css";
@import "@fontsource/noto-sans-sc/500.css";
@import "@fontsource/noto-sans-sc/700.css";
@import "@fontsource/noto-sans-sc/900.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans SC', system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  background-color: #f3f4f6;
}

.custom-scrollbar::-webkit-scrollbar { width: 6px; }
.custom-scrollbar::-webkit-scrollbar-track { background: #f1f1f1; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #888; border-radius: 3px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #555; }
